version: '3.8'
services: 
  jupyter:
    build: notebooks
    image: forecasting:latest
    ports: 
      - '8875:8888'
    environment:
      - JUPYTER_ENABLE_LAB=yes
    volumes:
      - ./notebooks:/home/jovyan/work 